@page
@model Web.Pages_Schdules.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.Sequence)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.Sequence)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.Corner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.Corner.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.Broadcast)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.Broadcast.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.CreateUserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.CreateUserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.UpdateUserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.UpdateUserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.UpdatedAt)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Schedule.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
