@page
@model Web.Pages_Schdules.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.Sequence)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.Sequence)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.Corner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.Corner.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.Broadcast)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.Broadcast.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.CreateUserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.CreateUserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.UpdateUserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.UpdateUserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Schedule.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
