@page
@model Web.Pages_VideoSources.IndexModel

@{
    ViewData["Title"] = "Index";
    ViewData["ActiveNavLink"] = "#videosources-nav-link";
    ViewData["ActiveNavLinkGroup"] = "#master-nav-links";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VideoSource[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoSource[0].CreateUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoSource[0].UpdateUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoSource[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoSource[0].UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.VideoSource) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
