@model Web.Pages_Specification.EditModel

@for(var i=0; i<Model.SpecificationViewModel.InterviewViewModels.Count(); i++)
{
    <tr>
        <td>
            <input class="form-control" asp-for="@Model.SpecificationViewModel.InterviewViewModels[i].Affiliation" />
        </td>
        @* <td>
            <input type="checkbox" class="form-check-input" asp-for="@Model.SpecificationViewModel.InterviewViewModels[i].UseSearch">
        </td> *@
        <td>
            <input class="form-control" asp-for="@Model.SpecificationViewModel.InterviewViewModels[i].Name" />
        </td>
        <td>
            <input class="form-control" asp-for="@Model.SpecificationViewModel.InterviewViewModels[i].JobTitle" />
        </td>
        <td>
            <input class="form-control" asp-for="@Model.SpecificationViewModel.InterviewViewModels[i].Product" />
        </td>
        <td>
            <input class="form-control" asp-for="@Model.SpecificationViewModel.InterviewViewModels[i].ContactAddress" />
        </td>
        <td>
            <input class="form-control" asp-for="@Model.SpecificationViewModel.InterviewViewModels[i].Note" />
        </td>
        <td>
            <input class="form-control" asp-for="@Model.SpecificationViewModel.InterviewViewModels[i].Address" />
        </td>
        <input class="dead-flag" type="hidden" asp-for="@Model.SpecificationViewModel.InterviewViewModels[i].Dead" value="false" />
        <td>
            <span class="remove">
                <button type="button" class="btn btn-danger btn-sm">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </span>
        </td>
    </tr> 
}
