@model Web.Pages_Specification.EditModel

<fieldset class="form-group">
    <div class="row">
        <label asp-for="SpecificationViewModel.VideoSourceSelectItems" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
        @for(var i=0; i<Model.SpecificationViewModel.VideoSourceSelectItems.Count(); i++)
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="@Model.SpecificationViewModel.VideoSourceSelectItems[i].Selected"  />
                <label class="form-check-label" asp-for="@Model.SpecificationViewModel.VideoSourceSelectItems[i].Selected">
                    @Model.SpecificationViewModel.VideoSourceSelectItems[i].Text
                </label>
                <input type="hidden" asp-for="@Model.SpecificationViewModel.VideoSourceSelectItems[i].Value" />
                <input type="hidden" asp-for="@Model.SpecificationViewModel.VideoSourceSelectItems[i].Text" />                
            </div>
        }
        </div>
    </div>
</fieldset>
<div class="form-group row">
    <label class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
        <textarea asp-for="SpecificationViewModel.VideoSourceNote" class="form-control" rows="4" cols="60" placeholder="備考"></textarea>
    </div>
    <span asp-validation-for="SpecificationViewModel.VideoSourceNote" class="text-danger"></span>
</div>

<fieldset class="form-group">
    <div class="row">
        <label asp-for="SpecificationViewModel.ArticleSourceSelectItems" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
        @for(var i=0; i<Model.SpecificationViewModel.ArticleSourceSelectItems.Count(); i++)
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="@Model.SpecificationViewModel.ArticleSourceSelectItems[i].Selected"  />
                <label class="form-check-label" asp-for="@Model.SpecificationViewModel.ArticleSourceSelectItems[i].Selected">
                    @Model.SpecificationViewModel.ArticleSourceSelectItems[i].Text
                </label>
                <input type="hidden" asp-for="@Model.SpecificationViewModel.ArticleSourceSelectItems[i].Value" />
                <input type="hidden" asp-for="@Model.SpecificationViewModel.ArticleSourceSelectItems[i].Text" />                
            </div>
        }
        </div>
    </div>
</fieldset>
<div class="form-group row">
    <label class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
        <textarea asp-for="SpecificationViewModel.ArticleSourceNote" class="form-control" rows="4" cols="60" placeholder="備考"></textarea>
    </div>
    <span asp-validation-for="SpecificationViewModel.ArticleSourceNote" class="text-danger"></span>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.SpecificationViewModel.MaterialSourceViewModels[0].Type)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.SpecificationViewModel.MaterialSourceViewModels[0].CopyrightHolder)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.SpecificationViewModel.MaterialSourceViewModels[0].ConditionsOfUse)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.SpecificationViewModel.MaterialSourceViewModels[0].Note)
            </th>
            <th>
                <button id="add-material-button" type="button" class="btn btn-primary btn-sm">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </th>
        </tr>
    </thead>
    <tbody id="materials">
        @await Html.PartialAsync("_MaterialSources", Model)
    </tbody>
</table>