@page
@model Web.Pages_Broadcasts.SchedulesModel

@{
    ViewData["Title"] = "番組構成";
    ViewData["ActiveNavLink"] = "#schedules-nav-link";
}

<h4>番組構成</h4>
<hr />

<div class="container-fluid p-0">
    <div class="row m-0">
        <div class="col-auto p-0">
            <form id="searchform">
                <div class="form-row">
                    <div class="form-group col m-0" style="width: 300px;">
                        <label>放送日</label>
                        <input type="date" asp-for="AirDate" class="form-control" />
                    </div>
                    <div class="form-group col m-0" style="width: 300px;">
                        <label>番組</label>
                        <select asp-for="TvProgramId" asp-items="Model.TvProgramSelectList" class="form-control" ></select>
                    </div>

                    <div class="col mt-auto">
                        <button type="submit" form="searchform" class="btn btn-primary">
                            <i class="fa fa-search" aria-hidden="true"></i>&nbsp;表示
                        </button>
                        <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="CSVダウンロード">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>

    <div class="row m-0 mt-3">
        <div class="col-auto p-0">
            <a class="btn btn-sm btn-outline-secondary rounded-pill link-button ml-2"
               asp-page="/TvPrograms/DefaultSchedules" asp-route-tvprogramid="@Model.TvProgramId">
                デフォルト番組構成
            </a>
        </div>
        <div class="col-auto ml-auto p-0">
            <form method="post" asp-page-handler="delete">
                <input type="hidden" asp-for="AirDate" />
                <input type="hidden" asp-for="TvProgramId" />
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;削除
                </button>                 
            </form>
        </div>
    </div>
</div>

<table id="sortable" class="table mt-2">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.Schedules[0].Sequence)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.ScheduleViewModels[0].CornerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduleViewModels[0].CornerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduleViewModels[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduleViewModels[0].Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduleViewModels[0].Desk)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ScheduleViewModels) {
        <tr class="click-row" data-scheduleId="@item.ScheduleId" data-href="/Specifications/Edit?id=@item.SpecificationId">
            @* <td>
                @Html.DisplayFor(modelItem => item.Sequence)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.CornerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CornerType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desk)
            </td>
            <td class="sortable-handle">
                <i class="fas fa-align-justify"></i>
            </td> 
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script>
        $(function () {
            $("tbody tr").click(function() {
                window.location = $(this).data('href');
            });

            function fixPlaceHolderWidth(event, ui){
                // adjust placeholder td width to original td width
                ui.children().each(function(){
                    $(this).width($(this).width());
                });
                return ui;
            };

            $('#sortable tbody').sortable({
                handle: '.sortable-handle',
                placeholder: 'ui-state-highlight',
                helper: fixPlaceHolderWidth,
                start: function(event, ui){
                    ui.placeholder.height(ui.helper.outerHeight());
                },
                update: function (event, ui) {
                    const items = $(this).sortable("toArray", {attribute: "data-scheduleId"});
                    $.ajax({
                        type: 'POST',
                        url: '/Broadcasts/Schedules?handler=sort&TvProgramId=@Model.TvProgramId&AirDate=@Model.AirDate.ToString("yyyy-MM-dd")',
                        data: { scheduleIds: items },
                        headers: {
                            RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                        }
                    });
                }
            });
        });
    </script>
}
