@page
@model Web.Pages_Schedules.IndexModel

@{
    ViewData["Title"] = "番組構成";
}

<h3>番組構成</h3>
<hr />

<div class="container-fluid" style="padding: 10px;">
    <form id="searchform" method="post" asp-page-handler="search">
        <div class="form-row">
            <div class="form-group col-md-5">
                <label>放送日</label>
                <input type="date" asp-for="AirDate" class="form-control" />
            </div>
            <div class="form-group col-md-5">
                <label>番組</label>
                <select asp-for="TvProgramId" asp-items="Model.TvPrograms" class="form-control" ></select>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-auto mr-auto">
            <button type="submit" form="searchform" class="btn btn-primary">
                <i class="fa fa-search" aria-hidden="true"></i>&nbsp;表示
            </button>
            <button class="btn btn-primary">
                <i class="fa fa-download" aria-hidden="true"></i>&nbsp;CSV
            </button>
        </div>
        <div class="col-auto">
            <form method="post" asp-page-handler="delete">
                <input type="hidden" asp-for="AirDate" />
                <input type="hidden" asp-for="TvProgramId" />
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;削除
                </button>                 
            </form>
        </div>
    </div>
</div>

<table id="sortable" class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.Schedules[0].Sequence)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Schedules[0].CornerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedules[0].CornerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedules[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedules[0].Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedules[0].Desk)
            </th>            
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Schedules) {
        <tr data-scheduleId="@item.ScheduleId">
            @* <td>
                @Html.DisplayFor(modelItem => item.Sequence)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.CornerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CornerType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desk)
            </td>            
            <td>
                <a asp-page="/Specification/Edit" asp-route-id="@item.SpecificationId">明細</a>
            </td>
            <td class="sortable-handle">
                <i class="fas fa-arrows-alt-v"></i>
            </td> 
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script>
        $(function(){
            function fixPlaceHolderWidth(event, ui){
                // adjust placeholder td width to original td width
                ui.children().each(function(){
                    $(this).width($(this).width());
                });
                return ui;
            };

            $('#sortable tbody').sortable({
                handle: '.sortable-handle',
                placeholder: 'ui-state-highlight',
                helper: fixPlaceHolderWidth,
                start: function(event, ui){
                    ui.placeholder.height(ui.helper.outerHeight());
                },
                update: function (event, ui) {
                    const items = $(this).sortable("toArray", {attribute: "data-scheduleId"});
                    $.ajax({
                        type: 'POST',
                        url: '/Schedules/Index?handler=sort',
                        data: { scheduleIds: items },
                        headers: {
                            RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                        }
                    });
                }
            });
        });
    </script>
}
